@* <div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">LetsFish.Wasm</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>       
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="captains">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Captains
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="anglers">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Anglers
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="teams">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Teams
            </NavLink>
        </div>
    </nav>
</div> *@


<MudNavMenu>

    <MudListSubheader Class="mt-2 mb-n2">Master Files</MudListSubheader>
    <MudNavLink Href="" Icon="@Icons.Material.Filled.Home" Text="Home">Home</MudNavLink>
    <MudNavLink Href="anglers" Icon="@Icons.Material.Filled.Person" Text="Anglers">Anglers</MudNavLink>
    <MudNavLink Href="captains" Icon="@Icons.Material.Filled.Person" Text="Captains">Captains</MudNavLink>
    <MudNavLink Href="teams" Icon="@Icons.Material.Filled.Person" Text="Teams">Teams</MudNavLink>

</MudNavMenu>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
